apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "logto.configMapName" . }}
  labels:
    {{- include "logto.labels" . | nindent 4 }}
data:
  # Core and Admin endpoints for OIDC and Admin Console
  ENDPOINT: {{ .Values.endpoint | quote }}
  ADMIN_ENDPOINT: {{ .Values.console.endpoint | quote }}
  # Additional envs can be added here as needed
  {{- if .Values.emmbedded_tls.enabled }}
  HTTPS_CERT_PATH: "/etc/logto/tls/{{ .Values.tls.certName }}"
  HTTPS_KEY_PATH: "/etc/logto/tls/{{ .Values.tls.keyName }}"
  {{- end }}