{{- if .Values.autoAlteration.enabled }}
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ include "logto.fullname" . }}-alteration
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "2"
    "helm.sh/hook-delete-policy": hook-succeeded,before-hook-creation
spec:
  template:
    spec:
      restartPolicy: Never # The database alteration job should never be restarted on failure, as it may cause data corruption. Handle retries manually if needed.
      initContainers:
        - name: wait-for-db
          {{- include "logto.waitForDbContainerSpec" . | nindent 10 }}
      containers:
        - name: {{ .Chart.Name }}-alteration
          {{- include "logto.commonContainerSpec" (dict "dbUrl" (.Values.autoAlteration.dbUrl | default nil) "embeddedTls" (dict "enabled" false) "context" .) | nindent 10 }}
          command:
            - /bin/sh
          args:
            - '-c'
            - 'npm run alteration deploy latest'
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
  backoffLimit: 0 # Disable automatic retries to prevent potential data corruption. Handle retries manually if needed.
{{- end }}