apiVersion: batch/v1
kind: Job
metadata:
  name: {{ include "logto.fullname" . }}-alteration
  annotations:
    "helm.sh/hook": post-install,post-upgrade
    "helm.sh/hook-weight": "1"
    "helm.sh/hook-delete-policy": hook-succeeded,before-hook-creation
spec:
  template:
    spec:
      restartPolicy: Never # The database alteration job should never be restarted on failure, as it may cause data corruption. Handle retries manually if needed.
      initContainers:
        - name: wait-for-db
          {{- include "logto.waitForDbContainerSpec" . | nindent 10 }}
      containers:
        - name: {{ .Chart.Name }}-alteration
          {{- include "logto.commonContainerSpec" . | nindent 10 }}
          command:
            - /bin/sh
          args:
            - '-c'
            - 'npm run alteration deploy latest'
      {{- if or .Values.volumes .Values.embeddedTls.enabled }}
      volumes:
        {{- with .Values.volumes }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        {{- if .Values.embeddedTls.enabled }}
        - name: embedded-tls
          secret:
            secretName: {{ .Values.embeddedTls.secret.name }}
        {{- end }}
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
  backoffLimit: 0 # Disable automatic retries to prevent potential data corruption. Handle retries manually if needed.
