{{- if .Values.deployOfficialConnectors }}
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ include "logto.fullname" . }}-connector-deploy
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "3"
    "helm.sh/hook-delete-policy": hook-succeeded,before-hook-creation
spec:
  template:
    spec:
      restartPolicy: Never
      containers:
        - name: {{ .Chart.Name }}-connector-deploy
          {{- include "logto.commonContainerSpec" (dict "embeddedTls" (dict "enabled" false) "context" .) | nindent 10 }}
          command:
            - /bin/sh
          args:
            - '-c'
            - 'npm run cli connector add -- --official'
      # The connector deployment job needs volume mounted to store connectors data, which is shared across multiple tenants.
      {{- with .Values.volumes }}
      volumes:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
{{- end }}