apiVersion: batch/v1
kind: Job
metadata:
  name: {{ include "logto.fullname" . }}-alteration
spec:
  template:
    spec:
      containers:
      - name: {{ .Chart.Name }}-alteration
        {{- include "logto.commonContainerSpec" . | nindent 8 }}
        command:
          - /bin/sh
        args:
          - '-c'
          - 'npm run alteration deploy latest'
        restartPolicy: Never
      {{- with .Values.volumes }}
      volumes:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
