apiVersion: batch/v1
kind: Job
metadata:
  name: {{ include "logto.fullname" . }}-alteration
spec:
  template:
    spec:
      restartPolicy: Never # The database alteration job should never be restarted on failure, as it may cause data corruption. Handle retries manually if needed.
      backoffLimit: 0 # Disable automatic retries to prevent potential data corruption. Handle retries manually if needed.
      containers:
      - name: {{ .Chart.Name }}-alteration
        {{- include "logto.commonContainerSpec" . | nindent 8 }}
        command:
          - /bin/sh
        args:
          - '-c'
          - 'npm run alteration deploy latest'
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
