{{- if .Values.persistence.enabled }}
{{- range .Values.persistence.claims }}
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ .name }}
  labels:
    {{- include "logto.labels" $ | nindent 4 }}
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "0"
    "helm.sh/resource-policy": keep
spec:
  accessModes:
    {{- toYaml .accessModes | nindent 4 }}
  resources:
    {{- toYaml .resources | nindent 4 }}
  storageClassName: {{ $.Values.persistence.storageClass }}
{{- end }}
---
{{- end }}