{{- $services := include "logto.serviceDict" . | fromYaml -}}
{{- range $key, $svc := $services }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include (printf "logto.%sServiceName" $key) $ }}
  labels:
    {{- include "logto.labels" $ | nindent 4 }}
spec:
  type: {{ $svc.type }}
  ports:
    - port: {{ $svc.port }}
      protocol: TCP
  selector:
    {{- include "logto.selectorLabels" $ | nindent 4 }}
---
{{- end }}
